@import '~antd/dist/antd.less';
.timeline {
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__right{
            &__text {
                margin-right: 16px;
                font-size: 14px;
                font-weight: 400;
                font-family: 'Roboto', sans-serif;
            }
        }
    }
}